
@model OnlineShop.Core.Product
@{
    ViewBag.Title = "Rating & Review";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for your feedback.</p>
<p>
    @Html.ActionLink("Back to List", "Index", "ProductAdmin")
</p>
