@model IEnumerable<OnlineShop.Core.Category>
@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

@foreach (var item in Model)
{
    <div class="col-md-4" style="height:450px; padding:10px; border:solid thin whitesmoke ;background:@item.Image" >
  
        <div class="col-md-12">
            
            <strong>@Html.ActionLink(item.CategoryName, "Sort",new { categoryName=item.CategoryName})</strong>
            
           
        </div>
        
    </div>
}
<div class="col-md-12 clearfix">